
.navBar{
    display: flex;
    position: fixed;
    
    border-bottom: 1px solid rgb(var(--ig-elevated-separator));
    background-color: rgb(23, 72, 15);
    width: 100%;
    top: 0;
    transition: height var(--desktop-nav-anim-duration) ease-in-out;
    z-index: 3;
    
}
#dropDown{
    
    position: absolute;
    top: 50px;
    right: 250px;
}

.logo{
    
    width: 50%;
   
}


.searchBar {
    position: absolute;
    top: 35%;
    right: 66%;
    justify-content: center;
}

/* .brand{
    position: relative;
    margin-left: -50%;
} */



