body{
    background-image: url("https://images.pexels.com/photos/1470171/pexels-photo-1470171.jpeg?cs=srgb&dl=pexels-element-digital-1470171.jpg&fm=jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

